.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid rgba(30, 165, 165, 0.5);
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
  z-index: 9999;
  box-shadow: 0 0 10px rgb(35, 46, 51);
}