.list-group {

  margin: 0;
  width: 200px;

  &.horizontal {
    flex-direction: row;
    width: 100%;
  }

  .list-group-item{
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;

    &.active {
      cursor: default;
      &:hover,
      &.active {
        color: white;
      }
    }

    &.disabled {
      pointer-events: 'none';
      cursor: 'default';
      text-decoration: 'none';
      color: '#444';
      background-color: rgb(15, 15, 15);
    }
  }
}

