.register {
  
  .bf-container {
    & p {
      margin-bottom: 0;
      white-space: pre-wrap;
    }

    & ol {
      margin: 16px 0;
      padding: 0;

      & li {
        margin-left: 1.5em;
      }
    }

    & ul {
      margin: 16px 0;
      padding: 0;

      & li {
        margin-left: 1.5em;
      }
    }
  }
}